body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.products-container {
  display: flex;
  background: white;
  margin: 0 auto;
  padding: 5%;
  width: 75%;
}
.image-container {
  flex: 1.3344;
}

.scrollable-container {
  overflow: scroll;
  color: white;
  text-decoration: none;
  flex-direction: row;
  display: inline;
  flex-wrap: nowrap;
  display: flex;
  padding: 20px;
  }
  .scrollableimages {
    display: inline-block;
    object-fit: contain;
    width: 25em;
    height: 15em;
    border: 3px solid rgb(255, 255, 255);
    color: black;
  }
img {
  width: 100%;
  height:auto;
  vertical-align: middle;
}
.some-knots {
  position: absolute;
  background-size: 100%;
  display: flex;
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  object-fit: cover;
  display: inline-block;
    
    width: 10em;
    height: 15em;
    border: 3px solid rgb(255, 255, 255);
    color: black;
}
.form-container {
 display: center;

    background-size: fill;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* font-size: 1.5rem; */
  padding: 1rem 3rem;
  color:black;
  text-transform: uppercase;
   
}
